LYZR_ENABLED=true
LYZR_API_KEY=sk-def•••••••••••••••••••••••••••••••••••••
LYZR_USER_ID=thenmalar.3472@gmail.com

LYZR_BASE_URL=https://agent-prod.studio.lyzr.ai

LYZR_TRIAGE_AGENT_ID=6aa39de34b72350fe766836f
LYZR_DIAGNOSTIC_AGENT_ID=6aa39e3024e4a474798b70eb
LYZR_REMEDIATION_AGENT_ID=6aa39e768531a8d637958c94
LYZR_RCA_AGENT_ID=6aa39ea40dbac69fa5886d53
